*{
    margin: 0;
    padding: 0;
    font-family: 'General Sans';
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
.main {
    width: 100%;
}
.hero {
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}
.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.heading {
    margin-top: 90px;

}
.heading h1 {
    margin-left: 30px;
    opacity: .6;
    line-height: 1;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;

}
.heading .second-h1 {
    margin-left: 185px;
}
.block-text {
    text-transform: uppercase;
    width: fit-content;
}
.block-text h5 {
    font-size: 15px;
    text-align: right;
}
.small-headings {
    margin-top: 100px;
    padding-right: 50px;
    text-transform: uppercase;
}
.small-headings h5 {
    text-align: right;
    font-size: 1vw;
    margin-top: .5vw;   
}
.hero-footer {
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    text-decoration: none;
}
.hero-footer .icon-set {
    display: flex;
    gap: 5px;
}
.hero-footer .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #888;
}
.hero-footer a {
    color: #fff;
}
@media (max-width:600px) {
    .nav {
        padding: 4vw 5vw;
    }
    .heading h1 {
        opacity: .6;
        line-height: 1;
        font-size: 12.9vw;
        font-weight: 1000;
        margin-left: 2vh;
    }
    .heading .second-h1 {
        margin-left: 9vh;
    }
    .block-text {
        width: fit-content;
    }
    .block-text h5 {
        font-size: 2.5vw;
        text-align: right;
    }
    .small-headings {
        margin-top: 14vh;
        padding-right: 5vw;
        text-transform: uppercase;
    }
    .small-headings h5 {
        margin-top: 1vw;
        font-size: 4vw;
        text-align: center;
    }
    .hero-footer {
        width: auto;
        display: flex;
        flex-direction: column;
        line-height: 4vw;
        align-items: center;
        justify-content: center;
        margin-left: 20vw;
    }
    .hero-footer a{
        align-items: center;
        justify-content: center;
        gap: 1vw;
        font-size: 3.6vw;
    }
    .hero-footer .circle {
        display: none;
    }
}